<!-- страничка, выводящая весь список услуг -->
<!doctype html>

<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    {% load static %}
    <title>Список услуг</title>
    <link rel="stylesheet" type="text/css" href="{% static '../css/examp.css' %}">
</head>
<body>  
    <p class="service-top"> Список услуг</p>
     <form action="" method="get">
            <input name="query" type="text"><br><br>
            <input type="submit" value="Поиск">
        </form>
    
    <ul>
        {% for service in services %}
        <div class="card_2">
            <img src="{{service.src}}" width="145px", height="110px", hspace="3px", vspace="3px" alt="картинка">
            <div class="card-body">
                <button class="butt_serv">
                    <a href="{% url 'service_url' service.id %}">{{ service.title }}</a></button>
            </div>
        </div>
        {% empty %}
            <li>Список пуст</li>
        {% endfor %}
    </ul>
</body>
</html>






