<!-- страничка, выводящая весь список услуг -->

{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '../css/examp.css' %}">

{% block title %}<p class="service-top"> Список болезней для лечения</p>{% endblock %}


{% block content %}


<form action="" method="get">
    <input name="query" type="text"><br><br>
    <input type="submit" value="Поиск">
</form>

<ul>
    {% for disease in data.diseases %}
            
        <div class="card_2">
            
            <img class="img-card" src="data:image/jpeg;base64,{{ disease.image64 }}" alt="картинка">
            <div class="card-body">
                <p class="aspect_st">{{ disease.sphere_name }}</p> 
                <button class="butt_serv">
                    <a href="{% url 'disease_url' disease.disease_id %}">{{ disease.disease_name }}</a></button>
                    <a class="l1" href="{% url 'delete_url' disease.disease_id %}">Удалить</a></button>
                </div>
        </div>
    {% empty %}
        <li>Список болезней пуст</li>
    {% endfor %}
</ul>


{% endblock %}