
<!-- страничка с подробной информацией об услуге -->


{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/examp.css' %}">

{% block content %}
<div class="card_serv">

    <div>
        <p class="service-text">{{ s.text }}</p>

        <p></p>
        <p class="service-text"> Характерные симптомы:</p>
        <p></p>

        {% for var in s.simp %}
            <li class="service-text-li">{{ var }}</li>
        {% endfor %}
    </div>
</div>

<button class="btn">
        <a class="btn-1" href="/">Назад к списку услуг</a></button>
{% endblock %}


